name: Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase Owner
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Build and push Post Pusher
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./post_pusher/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.OWNER_LC }}/post_pusher:latest

      - name: Build and push Post Consumer
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./post_consumer/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.OWNER_LC }}/post_consumer:latest
